
* { 
	/*border: .1px solid white; */
	/*transition: all .5s;
	transition-timing-function: ease-out;*/
	}
body {
	font-family: 'Raleway', sans-serif;
	background-color: black;
	/*height: 1500px;
	background-repeat: no-repeat;
	background: linear-gradient(black, #fca210);*/
	z-index: -200;
	color: #66bcff;

}

a {
	color: white;
	text-decoration: none;
}


.noborder {
	border: none;
}

.stars {
	/*uncomment below to make stars fade, with a whiter center and more transparent borders*/
	/*background: radial-gradient(white 1%, black 50%);*/
	background-color: white;
	position: absolute;
}
#starfield {
	position: absolute;
	z-index: -5;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 3000px;
}
#galaxy {
	font-family: 'Nanum Gothic', sans-serif;
	margin-top: 16%;
	margin-bottom: 0;
	/*margin-left: 50%;*/
	/*width: 1400px;*/
	width: 90vw;
	/*max-width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	left: 50px;
} 
.galaxyText {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    /*max-width: 600px;*/

	/*font-size: 100px;*/
	font-size: 2.8vw;
	font-size: 6vw;
	/*font-size: 12vmin;*/

	/*font-size: 5em;*/
	line-height: 0.2;
	/*padding: auto;*/
	/*text-align: center;*/

}

.emptySpace {
	/*color: white;*/
	height: 700px;
}
#crawl {
	margin-left: auto;
	position: relative;
}
#STARWARS {
	/*width: 80%;*/
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    /*text-align: center;*/
    display: table-cell;
}

.name_elem {
	/*width: 80%;*/
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    display: block;
}
#starwars_daniel {

}
#starwars_gultom {

}

#describe {
	/*position: absolute;*/
	/*top: 21%;*/
	/*margin: auto;*/
	margin: 0;
	width: 100%;
}
#describeText {
	text-align: center;
	line-height: 0;
	font-size: 60px;
	font-size: 5vw;
}

#daniel {
	font-size: 75px;
	display: block;
}



#greeting {
	margin-left: auto;
	margin-right: auto;
	max-width: 646px;

	/*transform: perspective(400px) rotateX(30deg);*/
	/*transform-origin: 50% 100%;
	text-align: justify;
	position: absolute;
	height: 100em;
	width: 1000px;*/

}


.noblink-cursor {
	border: 3px solid white;
}
.blinking-cursor {
  /*font-weight: 100;*/
  /*font-size: 30px;*/
  /*color: #2E3D48;*/
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  0% {
    color: transparent;
    border: none;
  }
  50% {
    color: white;
    border: 3px solid white;
  }
}

